#ds-thread #ds-reset .ds-comment-body p {
    color: #ffffff !important;

}

.ds-user-name {
    font-weight: bold !important;
    color: #ffffff !important;
}

.jtico_jiathis {
    display: none !important;
}

.ds-post-report {
    display: none !important;
}

.ds-powered-by {
    display: none !important;
}

.ds-social-links {
    display: none !important;
}

.ds-post-repost {
    display: none !important;
}

.terminology {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.ds-dialog-footer {
    display: none !important;
}

#ds-wrapper #ds-reset button {
    color: #555 !important;
}

.life-css {
    background-image: url("../../images/life.jpg");
    background-size: 100% 100%;
    background-position: center center;
    margin-bottom: -6.5em;;
}

ol li {
    padding-bottom: 1.2em;
}

ul li {
    padding-bottom: 0.1em;
}

.features-ol {
    padding-bottom: 1.2em;
}

.wenxuan {
    width: 100% !important;
    padding-bottom: 2em;
}

#study-banner {
    background-image: url("../../images/study_banner.jpg");
    background-size: 100% 100% !important;
    background-position: center center;
    margin-bottom: -6.5em;
}

#aca-banner {
    background-image: url("../../images/acade.jpg");
    background-size: 100% 100% !important;
    background-position: center center;
    margin-bottom: -6.5em;
}

.study-inner {
    color: #436e60 !important;
}

.study-inner h2 {
    color: #436e60 !important;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(95, 93, 96, 0.8) url(../fonts/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    -ms-transition: opacity .3s 0s, visibility 0s .3s;
    -o-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {

    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    -ms-transition: opacity .3s 0s, visibility 0s .3s;
    -o-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.alert {
    background-color: #c4453c;
    color: #f6f6f6;
    display: none;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;

    -webkit-animation:alert 1s ease forwards;
    -o-animation:alert 1s ease forwards;
    animation:alert 1s ease forwards;
}

@keyframes alert {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 70px;
    }
}

#alert:traget{
    display: none;
    position: relative;
}

