#ds-thread #ds-reset .ds-comment-body p {
    color: #ffffff !important;

}

.ds-user-name {
    font-weight: bold !important;
    color: #ffffff !important;
}

.jtico_jiathis {
    display: none !important;
}

.ds-post-report {
    display: none !important;
}

.ds-powered-by {
    display: none !important;
}

.ds-social-links {
    display: none !important;
}

.ds-post-repost {
    display: none !important;
}

.terminology {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.ds-dialog-footer {
    display: none !important;
}

#ds-wrapper #ds-reset button {
    color: #555 !important;
}

.life-css {
    background-image: url("../../images/life.jpg");
    background-size: 100% 100%;
    background-position: center center;
    margin-bottom: -6.5em;;
}

ol li {
    padding-bottom: 1.2em;
}

ul li{
    padding-bottom:0.1em;
}
.features-ol{
    padding-bottom:1.2em;
}

.wenxuan{
    width:100% !important;
    padding-bottom:2em;
}

#study-banner{
    background-image: url("../../images/study_banner.jpg");
    background-size: 100% 100% !important;
    background-position: center center ;
    margin-bottom: -6.5em;
}

#aca-banner{
    background-image: url("../../images/acade.jpg");
    background-size: 100% 100% !important;
    background-position: center center ;
    margin-bottom: -6.5em;
}

.study-inner{
    color: #436e60 !important;
}
.study-inner h2{
    color: #436e60 !important;
}