#ds-thread #ds-reset .ds-comment-body p{
    color: #ffffff !important;

}

.ds-user-name{
    font-weight:bold !important;
    color: #ffffff !important;
}

.jtico_jiathis{
    display: none !important;
}

.ds-post-report{
    display: none !important;
}

.ds-powered-by{
    display: none !important;
}
.ds-social-links{
    display: none !important;
}
.ds-post-repost{
    display: none !important;
}