#ds-thread #ds-reset .ds-comment-body p{
    color: #ffffff !important;

}

.ds-user-name{
    font-weight:bold !important;
    color: #ffffff !important;
}

.jtico_jiathis{
    display: none !important;
}