.faq{
    background-color: transparent !important;
}

#ds-thread #ds-reset .ds-sort a{
    color: #000 !important;
}

#ds-thread #ds-reset li.ds-tab a.ds-current{
    border: 1px solid #017cb9;
    
}
#ds-thread #ds-reset a{
    color: #000 !important;
}
#ds-thread #ds-reset .ds-user-name{
    color: #000 !important;
}
#ds-thread #ds-reset .ds-comment-body p{
    color: #000 !important;
}
#ds-thread #ds-reset .ds-time{
    color: #000 !important;
}
#ds-thread #ds-reset.ds-touch .ds-post-self .ds-post-delete, #ds-thread #ds-reset.ds-touch .ds-post-self .ds-post-report{
    display: none !important;
}
.ds-login-buttons{
    display: none !important;
}
.ds-powered-by{
    display: none !important;
}
#ds-thread #ds-reset li.ds-post-placeholder{
    color: #000 !important;
}

#faq-banner{
    background-image: url("../../images/faq.jpg");
    background-size: 100% 100% !important;
    background-position: center center ;
    margin-bottom: -6.5em;
}

#faq-banner h2{
    color: #8f7741;
}
#faq-banner {
    color: #8f7741;
}