.faq{
    background-color: transparent !important;
}

#ds-thread #ds-reset .ds-sort a{
    color: #000 !important;
}

#ds-thread #ds-reset li.ds-tab a.ds-current{
    border: 1px solid #017cb9;
    
}
#ds-thread #ds-reset a{
    color: #000 !important;
}
#ds-thread #ds-reset .ds-user-name{
    color: #000 !important;
}
#ds-thread #ds-reset .ds-comment-body p{
    color: #000 !important;
}
#ds-thread #ds-reset .ds-time{
    color: #000 !important;
}
#ds-thread #ds-reset.ds-touch .ds-post-self .ds-post-delete, #ds-thread #ds-reset.ds-touch .ds-post-self .ds-post-report{
    display: none !important;
}
.ds-login-buttons{
    display: none !important;
}
.ds-powered-by{
    display: none !important;
}
#ds-thread #ds-reset li.ds-post-placeholder{
    color: #000 !important;
}

#faq-banner{
    background-image: url("../../images/faq.jpg");
    background-size: 100% 100% !important;
    background-position: center center ;
    margin-bottom: -6.5em;
}

#faq-banner h2{
    color: #8f7741;
}
#faq-banner {
    color: #fcfcfc;
}

.faq-h3{
    padding-top:1.5em;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(95, 93, 96, 0.8) url(../fonts/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    -ms-transition: opacity .3s 0s,visibility 0s .3s;
    -o-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
}

.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover{

    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    -ms-transition: opacity .3s 0s,visibility 0s .3s;
    -o-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
}

.cd-top.cd-is-visible{
    visibility: visible;
    opacity:1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}